<% deactivated_serivces.sort.reverse.each do |service| %>
  <div class="practitioner-service">
    <div class="practitioner-service-info" id="service-<%= service.id %>">
      <%= render 'services/deactivated_service_detail', service: service %>
    </div>
    <div id="service-edit-container-<%= service.id %>">
      <%= render 'services/service_update_form', practitioner: @practitioner, service: service %>
    </div>
  </div>
<% end %>
