<p data-senderId="<%= current_user.id %>">
  <%= emojify message.content.gsub(/\n/, '<br/>').html_safe %>
  <i><%= message.created_at.in_time_zone(current_user.timezone).strftime("%k:%M") %></i>
</p>
