<p data-senderId="<%= current_user.id %>">
  <% if message.content.include?("\n") %>
    <%= safe_join(message.content.split("\n"), tag(:br)) %>
  <% else %>
    <%= message.content %>
  <% end %>
  <i>
    <%= message.created_at.strftime("%k:%M") %>
  </i>
</p>
