<!-- <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header justify-content-center">
      <h5 class="modal-title" id="profileEditModalLabel">Edit Account</h5>
    </div>
    <div class="modal-body text-left">
      <%#= simple_form_for(resource, url: registration_path(resource), html: { method: :put }) do |f| %>
        <div class="d-flex justify-content-between">
          <div style="flex: 0 0 45%"><%#= f.input :first_name %></div>
          <div style="flex: 0 0 45%"><%#= f.input :last_name %></div>
        </div>
        <%#= f.input :phone_number %>
    </div>
    <div class="modal-footer">
      <%#= f.button :submit, "Update", class: 'btn-flat mb-4' %>
      <%# end %>
    </div>
  </div>
</div>
 -->
