.work, .help, .register {
  padding: 3rem 0;
}
.work h2, .help h2 {
  margin-bottom: 2rem;
}

.work-steps, .help-cards, .register-steps {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.work-step, .help-card, .register-step {
  width: 20%;
  i {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

.register-step {
  width: 30%;
}
