// Specific CSS for your home-page
#featured-practitioners {
  background-color: $light-pink;
}

#newsletter-section {
  background-color: $light-green;
}

.featured-practitioners-specialty {
  font-size: 0.75rem;
  padding: 0 0.5rem;
  border-radius: 2rem;
  border: 1px solid #e57850;
  color: #e57850;
  margin: 0.5rem auto;
  flex: 0 0 100%;
}

.talent-img {
  width: 30%;
  img {
    width: 100%;
    border-radius: 0.5rem;
  }
}

.specilaty-definition {
  width: 60%;
  margin: 0 auto;
  img {
    width: 20%;
    margin: 0 auto;
  }
  h5 {
    margin: 1rem auto;
    line-height: 1.6;
  }
}

.newsletter_email {
  width: 50%;
  margin-bottom: 0;
}

#mc_embed_signup {
  width: 50%;
  margin: 0 auto;
  input {
    margin-bottom: 0.5rem;
  }
  input.mce_inline_error {
    border-color: red !important
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  p {
    margin: 1rem auto;
  }
  div.mce_inline_error {
    background-color: transparent !important;
    color: red !important;
    margin: 0 auto !important;
  }
  li input {
    margin-right: 1rem;
  }
  #mce-error-response {
    color: red;
  }
  #mce-success-response {
    color: $emerald;
  }
}

#what-panda {
  p {
    text-align: left !important;
    line-height: 2;
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }
}

#freecall .container {
  padding: 3rem;
}

#needs {
  background: white;
}

.needs-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.25rem;
  img {
    width: 100%;
  }
}

#offers {
  background: $light-pink;
  padding: 1rem 0;
  overflow-x: hidden;
  img {
    width: 100%;
    border-radius: 1rem;
  }
}

#offer-slider-desktop {
  display: block !important;
  width: 104vw;
}

#offer-slider-mobile {
  display: none !important;
  padding: 1rem;
}

.offer-service {
  height: 81px;
  font-size: 1.125rem;
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.offer-practitioner {
  height: 54px;
  font-size: 1.125rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#community {
  background: $light-green;
  .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    font-size: 2.5rem !important;
  }
  .swiper-button-prev, .swiper-button-next {
    color: $emerald;
  }
  img {
    border-radius: 1rem;
  }
}

#community-slider {
  height: auto !important;
}

#recent-blogs {
  background: white;
}

.recent-blogs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  margin: 2rem auto;
  text-align: left !important;
  .recent-blog {
    background: white;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    > a > img {
      width: 100%;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: 500;
      margin: 0.5rem 0;
      a {
        color: black;
      }
    }
    .category-name, .post-minutes {
      opacity: 0.3;
      font-weight: 600;
      margin-bottom: 0;
      font-size: 0.875rem;
    }
    .post-detail {
      padding: 0.5rem 2rem;
    }
    .post-detail h2 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      height: 57px;
    }
    .post-summary p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      height: 63px;
      font-size: 0.875rem;
      opacity: .6;
    }
    .post-author {
      display: flex;
      margin-bottom: 1rem;
      .post-author-image {
        width: 42px;
        height: 42px;
        border-radius: 50%;
      }
      .post-author-detail {
        margin-left: 1.5rem;
        opacity: 0.7;
        font-style: italic;
        font-size: 0.875rem;
      }
    }
  }
}

#offers, #needs, #community, #featured-practitioners, #recent-blogs, #newsletter-section {
  h1 {
    font-size: 3rem;
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .specilaty-definition {
    width: 90%;
    img {
      width: 50%;
      margin: 0 auto;
    }
    h5 {
      font-size: 1rem;
      margin: 1rem auto;
    }
  }
  .newsletter_email {
    width: 100%;
  }
  .btn-newsletter {
    padding: 0.25rem 0.5rem !important;
  }
  #mc_embed_signup {
    width: 100%;
    ul {
      display: block;
      text-align: left;
    }
    p {
      margin: 1rem auto;
    }
  }
  #freecall .container {
    padding: 0;
  }
  .needs-icons {
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  #offers {
    padding: 0 1rem;
  }
  #offer-slider-desktop {
    display: none !important;
  }
  #offer-slider-mobile {
    display: block !important;
  }
  .recent-blogs {
    display: block;
    .recent-blog {
      margin-bottom: 2rem;
    }
  }
  .offer-service {
    height: 72px;
    font-size: 1rem;
  }

  .offer-practitioner {
    height: 48px;
    font-size: 1rem;
  }
  #community {
    .swiper-button-prev, .swiper-button-next {
      display: none;
    }
  }
  #offers, #needs, #community, #featured-practitioners, #recent-blogs, #newsletter-section {
    h1 {
      font-size: 2.5rem;
    }
  }
}

// Mobile landscape
@media only screen and (max-width:991.98px) and (orientation: landscape) {

}

// iPad Portrait
@media only screen and (min-width:768px) and (max-width:991.98px) and (orientation: portrait) {
  #mc_embed_signup {
    width: 80%;
  }
  #community {
    .swiper-button-prev, .swiper-button-next {
      display: none;
    }
  }
}

// iPad Landscape
@media only screen and (min-width:992px) and (max-width:1024px) and (orientation: landscape) {

}

// iPadPro Portrait
@media only screen and (min-width:992px) and (max-width:1024px) and (orientation: portrait) {

}

// iPadPro Landscape
@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation: landscape) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {

}
