<div class="modal fade" id="paymentStartModal" tabindex="-1" role="dialog" aria-labelledby="paymentStartModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="paymentStartModalLabel">Thank you for applying to be a practitioner!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>Please book a 30 minute call with a member of our team to review your application.</p>
        <!-- Calendly link widget begin -->
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
        <a class="btn btn-flat" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/theholisticpanda/30min'});return false;">Schedule a time</a>
        <!-- Calendly link widget end -->
      </div>
    </div>
  </div>
</div>
