<div class="progress-bar" role="progressbar" aria-valuenow="<%= @practitioner.profile_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @practitioner.profile_progress %>%">
 <p><%= @practitioner.profile_progress %>% complete</p>
</div>
