let html = '';
<% if @practitioners.length > 0 %>
  <% @practitioners.each do |practitioner| %>
    <% if practitioner.photo.attached? %>
       html += '<p><%= cl_image_tag service.practitioner.photo.key, class: "service-list-item-user avatar-bordered" %><%= link_to practitioner.user.full_name, practitioner_path(practitioner) %></p>';
    <% else %>
      html += '<p><img src="https://kitt.lewagon.com/placeholder/users/random" class="service-list-item-user avatar-bordered"/><%= link_to practitioner.user.full_name, practitioner_path(practitioner) %></p>';
    <% end %>
  <% end %>
<% else %>
  html = '<p style="opacity: .7;"><em><small>No result</small></em></p>';
<% end %>
document.getElementById('practitioner-choices-list').innerHTML = html;
