<div class="container favorites">
  <h2>Favorite Practitioners</h2>
  <div class="favorite-practitoners">
    <% if current_user.favorite_practitioners.count > 0 %>
      <%= render 'favorite_practitioners/favorite_practitioners_list', favorite_practitioners: @favorite_practitioners %>
    <% else %>
      <%= link_to 'Find Holistic Services', services_path, class: 'btn btn-flat' %>
    <% end %>
  </div>
  <br>
  <h2>Favorite Services</h2>
  <div class="favorite-services">
    <% if current_user.favorite_services.count > 0 %>
      <%= render "favorite_services/favorite_services_list", favorite_services: @favorite_services %>
    <% else %>
      <%= link_to 'Find Holistic Services', services_path, class: 'btn btn-flat' %>
    <% end %>
  </div>
</div>
