<div class="container favorites">
  <h2>Favorite Practitioners</h2>
  <div class="favorite-practitoners">
    <%= render 'favorite_practitioners/favorite_practitioners_list', favorite_practitioners: @favorite_practitioners %>
  </div>
  <h2>Favorite Services</h2>
  <div class="favorite-services">
    <%= render "favorite_services/favorite_services_list", favorite_services: @favorite_services %>
  </div>
</div>
