<div class="footer">
  <div class="footer-top">
    <div class="footer-about">
      <h3>About</h3>
      <p><a href="#">About Us</a></p>
      <p><a href="#">How It Works</a></p>
      <p><a href="#">FAQ</a></p>
      <p><a href="#">Help</a></p>
    </div>
    <div class="footer-community">
      <h3>Community</h3>
      <p><a href="#">Events</a></p>
      <p><a href="#">Article</a></p>
      <p><a href="#">Refer A Friend</a></p>
      <p><a href="#">Refer A Practitioner</a></p>
    </div>
    <div class="footer-practitioner">
      <h3>Practitioner</h3>
      <p><a href="#">List Your Practice</a></p>
      <p><a href="#">Get Verified Now</a></p>
      <p><a href="#">Contribute Article</a></p>
    </div>
    <div class="footer-connect">
      <h3>Connect</h3>
        <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-newsletter">
    <h3>SIGNUP FOR NEWSLETTER</h3>
  </div>
  <div class="footer-copyright">
    © <%= Time.now.year %> HolisticPanda, Inc. All rights reserved
  </div>
</div>
