<a data-toggle="modal" data-target="#newsletterModal" id='open-newsletter-modal' style='display: none;'></a>
<div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog" aria-labelledby="newsletterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h3>Thank you for subscribing to our newsletter!</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-ghost" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
