<a data-toggle="modal" data-target="#notificationModal" id='open-notification-modal' style='display: none;'></a>
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="notificationModal-dialog" role="document">
    <div class="modal-content">
      <%= image_tag "popup", class: 'w-100' %>
      <div class="notification-modal-text">
        <h1>Get 10% off<br>your booking<br>when you sign up!</h1>
        <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-flat" id="close-notification-modal">Start exploring</button>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', (e) => {
    if (screen.availWidth > screen.availHeight && screen.availWidth > 991.98) {
        setTimeout(() => {
          if (localStorage.getItem("_notification") != "true") {
            document.getElementById('open-notification-modal').click();
          }
        }, 2000);
        document.getElementById('close-notification-modal').addEventListener('click', (e)=> {
          localStorage.setItem("_notification", "true");
          window.location.href = '/#offers';
          $("#notificationModal").on("hidden.bs.modal", function () {
              console.log('closed')
          });
        });
    } else {
        document.getElementById('open-notification-modal').remove();
    }
  });
</script>
