<div class="modal fade" id="referralModal" tabindex="-1" role="dialog" aria-labelledby="referralModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="referralModal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: red;">&times;</span>
        </button>
        <div class="row">
          <div class="col-12 p-4">
            <h3>Refer a friend to join and receive CA $10 coupon</h3>
            <%= simple_form_for [current_user, ReferredUser.new], remote: true do |f| %>
              <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
              <p id="referral-error"></p>
              <%= f.submit 'Send Invite', class: 'btn btn-flat', id: 'invite_user' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
