<% favorite_practitioners.each do |favorite|  %>
  <div class="favorite-practitioner">
    <% if favorite.practitioner.user.photo.attached? %>
      <%= image_tag favorite.practitioner.user.photo %>
    <% else %>
      <%= image_tag("profile") %>
    <% end %>
    <div class="fav-btn">
      <a data-confirm="Are you sure?" class="btn" rel="nofollow" data-method="delete" data-remote="true" href="/favorite_practitioners/<%= FavoritePractitioner.find_by(user: current_user, practitioner: favorite.practitioner).id %>"><i class="fas fa-heart pink-icon"></i></a>
    </div>
    <p><%= link_to favorite.practitioner.user.full_name, practitioner_path(favorite.practitioner) %></p>
  </div>
<% end %>
