<% if FavoritePractitioner.find_by(user: current_user, practitioner: practitioner) %>
  <a data-confirm="Are you sure?" class="btn btn-ghost mr-2" rel="nofollow" data-method="delete" data-remote="true" href="/favorite_practitioners/<%= FavoritePractitioner.find_by(user: current_user, practitioner: practitioner).id %>"><i class="fas fa-heart pink-icon"></i></a>
<% else %>
  <a class="btn btn-ghost mr-2" rel="nofollow" data-method="post" data-remote="true" href="/practitioners/<%= practitioner.id %>/favorite_practitioners"><i class="far fa-heart pink-icon"></i></a>
<% end %>
