<div class="apply-banner">
  <h1>Showcase Your Talent And Get Connected To Holistic Service Seekers Today</h1>
  <% if user_signed_in? %>
    <% if !current_user.practitioner %>
      <%= link_to "Apply Now", new_user_practitioner_path(current_user), class: 'btn btn-flat btn-wide mt-5' %>
    <% end %>
  <% else %>
    <%= link_to "Apply Now", new_user_session_path, class: 'btn btn-flat btn-wide mt-5' %>
  <% end %>
</div>
