<div class="apply-banner">
  <h1>Showcase your talent and get connected to holistic service seekers today</h1>
  <%= link_to "Apply Now", new_user_practitioner_path(current_user), class: 'btn btn-flat btn-wide mt-5' %>
</div>
