<div class="bottom-banner">
  <div class="bottom-banner-body">
    <h2>Book now and get 20% off your first session!</h2>
    <%= link_to "Find a service now", services_path, class: 'btn btn-flat' %>
  </div>
</div>
