<div class="middle-banner">
  <h2>Explore Our Specialities</h2>
  <!-- <div class="middle-banner-body"> -->
    <%#= simple_form_for :search, url: services_path, method: "GET" do |f| %>
      <!-- <div class="d-flex justify-content-between"> -->
        <%#= f.input :service_type, as: :hidden, input_html: { value: 'Virtual' } %>
      <!-- </div> -->
      <%#= f.submit "Explore all virtual services", class: "btn btn-flat" %>
    <%# end %>
  <!-- </div> -->
</div>
<div class="swiper-container" id="explore-specialties">
  <div class="swiper-wrapper">
    <% Specialty.all.each do |specialty| %>
      <div class="swiper-slide">
        <a href="specialties/<%= specialty.id %>">
          <%= image_tag("specialty/beauty.png") %>
          <p><%= specialty.name %></p>
        </a>
      </div>
    <% end %>
  </div>
</div>
<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>
