<div class="middle-banner">
  <h1>Virtual Experiences</h1>
  <div class="middle-banner-body">
    <p>Get wellness without leaving your home.</p>
    <%= link_to "Explore all virtual sessions", "", class: 'btn btn-ghost' %>
  </div>
</div>
