<div class="middle-banner">
  <h1>Virtual Experiences</h1>
  <div class="middle-banner-body">
    <p>Get wellness without leaving your home.</p>
    <%= simple_form_for :search, url: services_path, method: "GET" do |f| %>
      <div class="d-flex justify-content-between">
        <%= f.input :service_type, as: :hidden, input_html: { value: 'Virtual' } %>
      </div>
      <%= f.submit "Explore all virtual services", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
