<div class="top-banner">
  <h1>Holistic Wellness<br>For The Busy Soul</h1>
  <h4>Free 15 Min Discovery Call<br>To Help You Achieve Your Health Goals Today</h4>
  <%= link_to "Book A Service Now", services_path, class: 'btn btn-flat mt-5' %>
</div>
