<div class="top-banner">
  <h1>Holistic wellness<br>for the busy soul</h1>
  <h4>Free 15 min discovery call<br>to help you achieve your health goals today</h4>
  <%= link_to "Book a service now", services_path, class: 'btn btn-flat' %>
</div>
