<div class="top-banner">
  <div class="top-banner-text">
    <h1>Start your<br>self-care practice</h1>
    <h4>Select your health goalsand we will<br>recommend the best wellness services for you</h4>
    <%= link_to "Book a service now", services_path, class: 'btn btn-flat' %>
  </div>
</div>
