<section id='top-banner'>
  <%= render 'apply_banner' %>
</section>
<div class="container text-center">
  <div class="work">
    <h2>How It Works</h2>
    <div class="work-steps">
      <div class="work-step">
        <i class="fas fa-sign-in-alt"></i>
        <h3>Register<br>& create profile</h3>
      </div>
      <div class="work-step">
        <i class="far fa-list-alt"></i>
        <h3>Create<br>your service</h3>
      </div>
      <div class="work-step">
        <i class="fas fa-check"></i>
        <h3>Accept<br>session request</h3>
      </div>
      <div class="work-step">
        <i class="fas fa-running"></i>
        <h3>Conduct<br>your session</h3>
      </div>
    </div>
  </div>
  <div class="help">
    <h2>How We Help</h2>
    <div class="help-cards">
      <div class="help-card">
        <i class="fas fa-bullhorn"></i>
        <h3>Promotion</h3>
      </div>
      <div class="help-card">
        <i class="far fa-credit-card"></i>
        <h3>Easy Payment</h3>
      </div>
      <div class="help-card">
        <i class="far fa-calendar-check"></i>
        <h3>Seamless Booking</h3>
      </div>
      <div class="help-card">
        <i class="fas fa-chart-line"></i>
        <h3>Analytics</h3>
      </div>
    </div>
  </div>
</div>
