<% content_for :home_navbar do %>
  <%= render 'shared/home_navbar' %>
<% end %>
<div class="page-img">
  <%= image_tag('faq.png') %>
</div>
<div class="cookie-container">
  <div class="page-title">
    <h1>Cookie Policy</h1>
  </div>

</div>
