<% content_for :home_navbar do %>
  <%= render 'shared/home_navbar' %>
<% end %>
<div class="page-img">
  <%= image_tag('faq.png') %>
</div>
<div class="faq-container">
  <div class="page-title">
    <h1>Frequently Asked Questions</h1>
  </div>

</div>
