<h1>New user <%= @user.full_name %> has joined</h1>

<p>First name: <%= @user.first_name %></p>
<p>Last name: <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>
<p>Newsletter: <% if @user.newsletter %>Yes<% else %>No<% end %></p>
