<!-- <%## practitioner.practitioner_social_links.where.not(media_type: 'Other').sort_by(&:media_type).each do |link| %>
  <div class="practitioner-sociallink" data-link-id="<%#= link.id %>">
    <div class="d-flex align-items-center">
      <%# if link.media_type == 'Facebook' %>
        <i class="fab fa-facebook"></i>
      <%# elsif link.media_type == 'Instagram' %>
        <i class="fab fa-instagram"></i>
      <%# elsif link.media_type == 'Twitter' %>
        <i class="fab fa-twitter"></i>
      <%# elsif link.media_type == 'LinkedIn' %>
        <i class="fab fa-linkedin"></i>
      <%# elsif link.media_type == 'YouTube' %>
        <i class="fab fa-youtube"></i>
      <%# end %>
      <p class='ml-3'><a href="<%#= link.url %>" target="_blank"><%#= link.url %></a></p>
      <button><p><%#= link_to '', practitioner_social_link_path(link), remote: true, method: :delete, data: { confirm: "Are you sure to remove this service?"}, class: 'fas fa-trash' %></p></button>
    </div>
  </div>
<%# end %>
<%# practitioner.practitioner_social_links.where(media_type: 'Other').each do |link| %>
  <div class="practitioner-sociallink" data-link-id="<%#= link.id %>">
    <div class="d-flex align-items-center">
      <i class="fas fa-hashtag"></i>
      <p class='ml-3'><a href="<%#= link.url %>" target="_blank"><%#= link.url %></a></p>
      <button><p><%#= link_to '', practitioner_social_link_path(link), remote: true, method: :delete, data: { confirm: "Are you sure to remove this service?"}, class: 'fas fa-trash' %></p></button>
    </div>
  </div>
<%# end %> -->
