<div class="container payment-page">
  <div class="payment-box">
    <h2>Setting up your payment method</h2>
    <br>
    <p>Set up your payment method for securing your bookings and easier checkouts. We won't charge your card until a session has been completed.</p>
    <button id="pay" class="btn btn-flat my-3">Set up payment method</button>
    <p class="text-muted"><small><strong>I authorise The Holistic Panda to send instructions to the financial institution that issued my card to take payments from my card account in accordance with the terms of my agreement with you.</strong></small></p>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const paymentButton = document.getElementById('pay');
      paymentButton.addEventListener('click', () => {
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<%= current_user.setup_session_id %>'
        });
      });
    </script>
  </div>
</div>
