.alert {
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $pink;
  position: fixed;
  bottom: 0;
  right: 0;
  flex: 1 0 10%;
  opacity: 0.8;
  z-index: 1000000;
}

.alert-info {
  border: 2px solid #1EDD88;
}

.alert-warning {
  border: 2px solid #FFC65A;
}

.alert-danger {
  border: 2px solid #FD1015;
}

// .alert.fade {
//   opacity: 1;
// }
