.btn-ghost {
  color: $emerald;
  border: 1px solid $emerald;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-weight: 400;
  transition: opacity 0.3s ease;
  opacity: 0.7;
  &.btn-opened {
    background-color: $emerald !important;
    color: white;
    opacity: 1;
    &:hover {
      color: white;
    }
  }
  &.pink {
    color: $pink;
    border: 1px solid $pink;
    opacity: 1;
    font-size: 0.75rem;
    &:hover {
      font-weight: 600;
      color: $pink;
    }
  }
}

.btn-newsletter {
  padding: 0.25rem 1.5rem !important;
  border-radius: 0 !important;
}

.active-sort, .active-specialty {
  background-color: $pink;
  color: white !important;
  &:hover {
      font-weight: 600;
      color: white !important;
    }
}


.btn-ghost:hover {
  color: $emerald;
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background: $gold;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #EFBB62;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-wide {
  width: 20%;
}

.btn-filter {
  border: none;
}
