.cards-featured {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-featured {
  flex: 0 0 23%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 1rem;
  text-align: left !important;
  img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem 0;
    padding: 0.25rem 1rem;
    a {
      color: black;
    }
  }
}

.card-featured .card-featured-infos {
  padding: 0.25rem 1rem;
  text-align: left !important;
}

.card-featured-infos {
  .featured-title {
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    opacity: .7;
    margin: 0;
    height: 48px;
  }
  .featured-spcialties {
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 84px;
    .featured-spcialties-icon {
      flex: 0 0 15%;
      img {
        width: 100%;
      }
    }
    .featured-spcialties-text {
      flex: 0 0 80%;
    }
    a {
      color: black;
      font-weight: 600;
    }
  }
  p {
    font-size: 1rem;
    font-weight: 600;
    opacity: .7;
    margin: 0;
  }
}

.cards-review {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.card-review {
  background-size: cover;
  background-position: center;
  height: 25vw;
  width: 25vw;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-review .name {
  margin-top: 70%;
}

.cards-practitioner {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  margin-top: -20vh;
}

.card-practitioner {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 20vw;
}

.card-practitioner > img {
  width: 100%;
  object-fit: cover;
}

.card-practitioner h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.card-practitioner p {
  font-size: 1.2rem;
  opacity: .7;
  margin: 3rem 0;
}

.card-practitioner .card-practitioner-infos {
  padding: 1rem;
  text-align: center;
  position: relative;
}
.view-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.cards-why {
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  flex-wrap: wrap;
}

.card-why {
  flex: 0 0 31%;
  background: white;
  box-shadow: 0 7px 25px 0 rgba(0,0,0,.1);
  border-radius: 0.5rem;
  img {
    width: 60%;
    margin: 0 auto;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  ul {
    padding-right: 1rem;
    text-align: left;
    margin-bottom: 0;
  }
}

.cards-works {
  margin: 3rem auto 1rem;
}

.card-works {
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 0 7px 25px 0 rgba(0,0,0,.1);
  margin-bottom: 2rem;
  .work-img {
    flex: 0 0 50%;
  }
  .work-description {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .work-img img {
    width: 100%;
  }
  h3 {
    margin-bottom: 1.5rem;
    margin-bottom: 3rem;
  }
  p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
}

#featured-practitioners-mobile {
  display: none;
}

.mobile-img {
  display: none;
}

.community-card {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 2rem auto;
  text-align: left;
  .community-card-img {
    flex: 0 0 30%;
    a {
      color: black;
      font-weight: 700;
    }
    img {
      width: 100%;
    }
  }
  .community-card-text {
    flex: 0 0 65%;
    i {
      color: $emerald;
    }
    p {
      line-height: 2.4;
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .card-featured {
    width: 90%;
    margin: 1rem auto;
    box-shadow: none;
  }
  #featured-practitioners-desktop {
    display: none;
  }
  #featured-practitioners-mobile {
    display: block;
    .swiper-container {
      width: 100%;
    }
  }
  .cards-why {
    margin: 2rem auto;
  }
  .card-why {
    flex: 0 0 100%;
    margin-bottom: 1.5rem;
    box-shadow: none;
    img {
      width: 40%;
    }
    h4 {
      font-weight: 600;
    }
  }
  .cards-works {
    margin: 1rem auto;
  }
  .card-works {
    display: block;
    margin-bottom: 1rem;
    box-shadow: none;
    h3 {
      color: $pink;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 0.875rem;
    }
  }
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }
  .community-card {
    display: block;
    h2 {
      font-size: 1rem !important;
    }
    .community-card-text {
      margin-top: 1rem;
    }
  }
}

// Mobile landscape
@media only screen and (max-width:991.98px) and (orientation: landscape) {
  .card-featured img {
    width: 100%;
  }
  .card-featured {
    width: 40%;
    margin: 1rem auto;
    box-shadow: none;
  }
  #featured-practitioners-desktop {
    display: none;
  }
  #featured-practitioners-mobile {
    display: block;
    .swiper-container {
      width: 100%;
    }
  }
  .cards-why {
    margin: 2rem auto;
  }
  .card-why {
    flex: 0 0 100%;
    margin-bottom: 1.5rem;
    box-shadow: none;
    img {
      width: 40%;
    }
    h4 {
      font-weight: 600;
    }
  }
  .cards-works {
    margin: 1rem auto;
  }
  .card-works {
    display: block;
    margin-bottom: 1rem;
    box-shadow: none;
    h3 {
      color: $pink;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 0.875rem;
    }
  }
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }
  .card-works .work-img img {
    width: 50%;
  }
}

// iPad Portrait
@media only screen and (min-width:768px) and (max-width:991.98px) and (orientation: portrait) {
  .card-why {
    flex: 0 0 100%;
    margin-bottom: 1.5rem;
    box-shadow: none;
    img {
      width: 40%;
    }
    h4 {
      font-weight: 600;
    }
  }
  .card-works {
    display: block;
    margin-bottom: 1rem;
    box-shadow: none;
  }
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }
}

// iPad Landscape
@media only screen and (min-width:992px) and (max-width:1024px) and (orientation: landscape) {

}

// iPadPro Portrait
@media only screen and (min-width:992px) and (max-width:1024px) and (orientation: portrait) {

}

// iPadPro Landscape
@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation: landscape) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {

}
