.footer {
  background: white;
  padding: 0 3rem;
  color: rgba(0,0,0,0.3);
  h3 {
    font-size: 1.25rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
}

.footer-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.footer-top h3 {
  padding-bottom: 0.5rem;
}

.footer-columns {
  text-align: center;
  flex: 0 0 20%;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-socials a {
  color: black;
  opacity: 0.4;
  text-decoration: none;
  font-size: 2rem;
  padding: 0 0.75rem;
}

.footer-socials a:hover {
  opacity: 1;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  padding-bottom: 1.5rem;
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .footer {
    padding: 0 1.5rem;
    background: #f2f2f2;
    p {
      font-size: 0.875rem;
    }
  }
  .footer-bottom {
    display: block;
  }
  .footer-copyright {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
  }
  .footer-columns {
    flex: 0 0 45%;
  }
}

// Mobile landscape
@media only screen and (max-width:991.98px) and (orientation: landscape) {

}

// iPad Portrait
@media only screen and (min-width:768px) and (max-width:991.98px) and (orientation: portrait) {

}

// iPad Landscape
@media only screen and (min-width:992px) and (max-width:1024px) and (orientation: landscape) {

}

// iPadPro Portrait
@media only screen and (min-width:992px) and (max-width:1024px) and (orientation: portrait) {

}

// iPadPro Landscape
@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation: landscape) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {

}
