.footer {
  background: white;
  padding: 0px 3rem;
  color: rgba(0,0,0,0.3);
  h3 {
    font-size: 1.25rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
}

.footer-top {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.footer-top h3 {
  padding-bottom: 0.5rem;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.4;
  text-decoration: none;
  font-size: 2rem;
  padding: 0 0.75rem;
}

.footer-links a:hover {
  opacity: 1;
}

.footer-newsletter, .footer-copyright {
  text-align: center;
  padding-bottom: 1rem;
}
