.form-control:focus {
  background-color: #fff;
  border: 3px solid $gold;
  outline: 0;
  box-shadow: none;
}


.was-validated .form-control:valid, .form-control.is-valid {
  padding: 0.375rem 0.75rem;
  background: white;
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
  border-color: #1EDD88;
  box-shadow: none;
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

}

// Mobile landscape
@media only screen and (max-width:991.98px) and (orientation: landscape) {

}

// iPad Portrait
@media only screen and (min-width:768px) and (max-width:991.98px) and (orientation: portrait) {

}

// iPad Landscape
@media only screen and (min-width:992px) and (max-width:1024px) and (orientation: landscape) {

}

// iPadPro Portrait
@media only screen and (min-width:992px) and (max-width:1024px) and (orientation: portrait) {

}

// iPadPro Landscape
@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation: landscape) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {

}
