.navbar-holistic {
  padding: 0 2rem;
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
  font-size: 1rem;
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-holistic .navbar-collapse {
  flex-grow: 0;
}

.navbar-holistic .navbar-brand img {
  width: 10rem;
}

.nav-item {
  padding-left: 1rem;
}

.nav-item img {
  height: 3.5rem;
  width: 3.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 400;
  opacity: 0.7;
  cursor: pointer;
  &:hover, :focus {
    color: black;
    opacity: 1;
  }
  &.find-service {
    color: $pink;
    background: white;
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    border: 1px solid $pink;
    text-align: center;
    font-weight: 600;
    opacity: 1;
  }
}

.dropdown-menu {
  padding: 0;
}

.notification-drop a {
  color: $emerald;
  opacity: 0.7;
  padding: 0.5rem 1.5rem;
  background: #e8e8e8;
  &:hover {
    color: $emerald;
    opacity: 1;
    background-color: rgba(229, 121, 80, 0.1);
  }
  &.all {
    background: white;
  }
}

#top-filter-form {
  .form-group {
    margin-bottom: 0;
  }
  .btn {
    padding: 0.25rem 1rem;
    font-size: 0.875rem !important;
  }
  #health-goal-pop {
    margin-bottom: 0;
    padding: 0.5rem 1rem !important;
    font-weight: 700;
    font-size: 1rem !important;
  }
  .form-group {
    position: relative;
  }
  .health-goal-choices {
    max-height: 50vh;
    overflow-y: scroll;
    margin: 0;
  }
}

#top-filter-mobile {
  display: none;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  background: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  a {
    padding: 0.5rem  2rem;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    transition: 0.3s;
  }
  img {
    width: 100%;
  }
  .close-side {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
  }
}

.dropdown-item {
  padding: 0.5rem 1.5rem;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: rgba(229, 121, 80, 0.1);
}

.dropdown-item.active, .dropdown-item:active {
  background-color: rgba(229, 121, 80, 0.5);
}

.dropdown-menu.dropdown-menu-right {
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  hr {
    margin: 0;
    border-top: 1px solid rgba(229, 121, 80, 0.5);
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #top-filter-mobile {
    width: 100%;
    display: block;
  }
  #top-filter-desktop {
    display: none;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #navbarSupportedContent {
    display: none;
  }
  .navbar-holistic {
    padding: 0 1rem;
  }
}

// Mobile landscape
@media only screen and (max-width:991.98px) and (orientation: landscape) {
  .navbar-light .navbar-nav .nav-link.find-service {
    display: none;
  }
}

// iPad Portrait
@media only screen and (min-width:768px) and (max-width:991.98px) and (orientation: portrait) {

}

// iPad Landscape
@media only screen and (min-width:992px) and (max-width:1024px) and (orientation: landscape) {

}

// iPadPro Portrait
@media only screen and (min-width:992px) and (max-width:1024px) and (orientation: portrait) {

}

// iPadPro Landscape
@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation: landscape) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {

}
