.navbar-holistic {
  padding: 0 2rem;
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
  font-size: 1rem;
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-holistic .navbar-collapse {
  flex-grow: 0;
}

.navbar-holistic .navbar-brand img {
  width: 10rem;
}

.nav-item {
  padding-left: 1rem;
}

.nav-item img {
  height: 3.5rem;
  width: 3.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 400;
  opacity: 0.7;
  cursor: pointer;
  &:hover, :focus {
    color: black;
    opacity: 1;
  }
}

.dropdown-menu {
  padding: 0;
}

.notification-drop a {
  color: $emerald;
  opacity: 0.7;
  padding: 0.5rem 1.5rem;
  background: $gold;
  &:hover {
    color: $emerald;
    opacity: 1;
    background: $gold;
  }
  &.all {
    background: white;
  }
}

#top-filter-form {
  .form-group {
    margin-bottom: 0;
  }
  .btn {
    padding: 0.25rem 1rem;
    font-size: 0.875rem !important;
  }
  #health-goal-pop {
    margin-bottom: 0;
    padding: 0.5rem 1rem !important;
    font-weight: 700;
    font-size: 1rem !important;
  }
  .form-group {
    position: relative;
  }
  .health-goal-choices {
    max-height: 50vh;
    overflow-y: scroll;
    margin: 0;
  }
}
