.navbar-holistic {
  padding: 0 2rem;
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
  font-size: 1.5rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-holistic .navbar-collapse {
  flex-grow: 0;
}

.navbar-holistic .navbar-brand img {
  width: 10rem;
}

.nav-item {
  padding-left: 2rem;
}

.nav-item img {
  height: 3.5rem;
  width: 3.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: $gold;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  &:hover, :focus {
    color: #EFBB62;
    font-weight: 700;
  }
}

.navbar-light .navbar-nav .show > .nav-link {
  color: #EFBB62;
  font-weight: 700;
}
