<style type="text/css">

</style>

<div style='background-color: #e9cd88; padding: 30px;'>
  <div style='background-color: #faf2f2; padding: 20px;'>
    <div style='max-width: 300px; margin: 0 auto;'>
      <a href="https://www.theholisticpanda.com" target="_blank" style="text-decoration: none;"><%= image_tag(attachments['email-logo.png'].url, style: 'max-width: 300px;') %></a>
    </div>
    <h3>Dear <%= @practitioner.user.full_name %>,</h3>

    <h4>Thank you for applying to be a practitioner on The Holistic Panda. We have received your application and payment.</h4>

    <ul>
      <li><p>Get Verified - All of our practitioners will need to complete a standard background check before we onboard them to build a trusted relationship between you and our users. Your profile will be created on our background check partner(Modo)’s platform, and you will receive a link to upload a piece of identification. Background checks usually take about 6 hours.</p></li>
      <li><p>Signing User Agreement - Once your background check has been completed, we’ll send you the user agreement to sign.</p></li>
      <li><p>Build Your Public Profile: Upon signing the agreement, you’ll be able to set up your online profile and start getting booked! Please also email us any educational credentials for our records and internal verification.</p></li>
    </ul>

    <p>We want to thank you for being a part of The Holistic Panda community and contributing to our mission of making it easy and seamless for anyone anywhere to access healing modalities to help them achieve their health goals. Self-care should be a priority, not an after-thought.</p>

    <p>Meanwhile, if you have any question about the application process, please write to us <a href="mailto:hello@theholisticpanda.com" style="text-decoration: none; color: #366735;">here</a>.</p>
    <br>
    <p>Yours,</p>
    <p>The Holistic Panda Team</p>
  </div>
  <div style='margin: 16px auto; text-align: center;'>
    <p>© <%= Time.now.year %> HolisticPanda, Inc. All rights reserved</p>
    <a href="https://www.theholisticpanda.com/terms" target="_blank" style='text-decoration: none; color: #366735; margin-right: 16px;'>Terms of use</a>
    <a href="https://www.theholisticpanda.com/privacy" target="_blank"  style="text-decoration: none; color: #366735;">Privacy policy</a>
  </div>
</div>
