<style type="text/css">
  img {
    width: 100%;
  }
  a {
    text-decoration: none;
    color: #366735;
  }
</style>

<div style='background-color: rgba(229, 121, 80, 0.5); padding: 30px;'>
  <div style='background-color: white; padding: 20px;'>
    <div style='width: 20%; margin: 0 auto;'>
      <a href="https://www.theholisticpanda.com" target="_blank"><%= image_tag(attachments['logo.png'].url) %></a>
    </div>
    <h3>Dear <%= @practitioner.user.full_name %>,</h3>

    <h4>Thank you for applying to be a practitioner on The Holistic Panda</h4>

    <p><%= @practitioner.user.full_name %>, we have recieved your application to become a practitioner on The Holistic Panda.</p>

    <p>Shortly, you will receive an email from our background check partner. </p>

    <p>Meanwhile, if you have any question about the application process, please write to us <a mailto="hello@theholisticpanda.com">here</a>.</p>
    <br>
    <p>Yours,</p>
    <p>The Holistic Panda</p>
  </div>
  <div style='margin: 16px auto; text-align: center;'>
    <p>© <%= Time.now.year %> HolisticPanda, Inc. All rights reserved</p>
    <a href="https://www.theholisticpanda.com/terms" target="_blank" style='margin-right: 16px;'>Terms of use</a>
    <a href="https://www.theholisticpanda.com/privacy" target="_blank">Privacy policy</a>
  </div>
</div>
