<style type="text/css">

</style>

<h2>Dear <%= @practitioner.user.full_name %>,</h2>
<br>
<h3>Thank you for applying to be a practitioner on The Holistic Panda</h3>
<br>
<p><%= @practitioner.user.full_name %>, we have recieved your application to become a practitioner on The Holistic Panda.</p>
<br>
<p>Shortly, you will receive an email from our background check partner. </p>
<br>
<p>Meanwhile, if you have any question about the application process, please write to us <a mailto="hello@theholisticpanda.com">here</a>.</p>
<br>
<p>Yours,</p>
<p>The Holistic Panda</p>
