// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "practitioners";
@import "sessions";
@import "services";
@import "users";

body {
  position: relative;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  margin: 1.5rem 0;
}

h2 {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

h5 {
  color: black;
}

a {
  color: $gold;
  &:hover {
    text-decoration: none;
    color: $pink;
  }
}

label {
  color: $gold;
}

.container {
  max-width: 1200px;
  width: 90%;
}

.login {
  margin-top: 5rem;
}

.hidden {
  display: none;
}
