// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "conversations";
@import "newsletters";
@import "payments";
@import "practitioners";
@import "reviews";
@import "sessions";
@import "services";
@import "specialties";
@import "users";
@import "working_hours";

body {
  position: relative;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  margin: 1.5rem 0;
}

h2 {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

h5 {
  color: black;
}

a {
  color: $emerald;
  &:hover {
    text-decoration: none;
    color: #367534;
  }
}

label {
  color: $gold;
}

button:focus {
  outline: none;
}

.container {
  max-width: 1200px;
  width: 90%;
}

.login {
  padding: 6rem 0 2rem;
}

.hidden {
  display: none;
}

.pink-icon {
  color: $pink
}

.modal-photo {
  max-width: 80%;
}

.input-newsletter {
  border-radius: 0;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
