.event-page {
  width: 80%;
  padding: 6rem 0 2rem;
  min-height: calc(100vh - 211px);
  .events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
}

.event {
  box-shadow: 0 7px 25px 0 rgba(0,0,0,.1);
  background: white;
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
  }
  .event-detail {
    padding: 1rem;
  }
}

.event-image {
  width: 40%;
}

.event-description {
  width: 60%;
  margin: 1rem auto;
  text-align: left;
}

.event-practitioners-desktop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  width: 95%;
  margin: 1rem auto;
  padding: 1rem 0;
  img {
    border-radius: 8px;
    width: 80%;
  }
}

.event-partner-desktop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  width: 95%;
  margin: 1rem auto;
  padding: 1rem 0;
  img {
    width: 80%;
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .event-image, .event-description {
    width: 100%;
  }
}

// Mobile landscape
@media only screen and (max-width:991.98px) and (orientation: landscape) {

}

// iPad Portrait
@media only screen and (min-width:768px) and (max-width:991.98px) and (orientation: portrait) {

}

// iPad Landscape
@media only screen and (min-width:992px) and (max-width:1024px) and (orientation: landscape) {

}

// iPadPro Portrait
@media only screen and (min-width:992px) and (max-width:1024px) and (orientation: portrait) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}
