.practitioner-page, .practitioners-page, .practitioner-profile, .practitioner-my-services {
  padding: 6rem 0 2rem;
}

.practitioner-summary, .practitioner-name, .practitioner-description, .practitioner-service, .practitioner-profile-table, .practitioner-profile-info, .practitioner-profile-info-body, #practitioner-specialties, #practitioner-languages, #practitioner-country, #practitioner-experience, #practitioner-certification, #practitioner-bio, #practitioner-workingdays, #practitioner-workinghours, #practitioner-video, #practitioner-website, #practitioner-address {
  display: flex;
}

#practitioner-sociallinks i {
  color: $pink;
}

.practitioner-name {
  align-items: center;
}

.practitioner-name h3 {
  margin: 0.5rem 0;
}

.practitioner-img, .practitioner-profile-img {
  flex: 0 0 20%;
  padding: 0.5rem;
}

.practitioner-body {
  flex: 0 0 60%;
  padding: 0.5rem 1rem;
}

.practitioner-rating {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
  i {
    color: $pink;
  }
}


.practitioner-btn {
  flex: 0 0 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pending, .verified {
  color: white;
  cursor: default !important;
  border: none;
  border-radius: 3rem;
  font-size: 1rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.pending {
  background-image: linear-gradient(to bottom right, #fc6076, #ff9a44, #ef9d43, #e75516);
}

.verified {
  background-image: linear-gradient(to bottom right, #25aae1, #40e495, #30dd8a, #2bb673);
}

.practitioner-description {
  margin: 2rem auto;
}

.practitioner-description-left {
  flex: 0 0 60%;
  padding-right: 2rem;
}

// .practitioner-bio, .practitioner-service-description {
//   p {
//     overflow: hidden;
//     display: -webkit-box;
//     -webkit-line-clamp: 3;
//     -webkit-box-orient: vertical;
//   }
//   button {
//     border: none;
//     background: transparent;
//     color: $emerald;
//     opacity: 0.7;
//   }
// }

.practitioner-description-right {
  flex: 0 0 40%;
}

.practitioner-service {
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 13px 0 rgba(148, 148, 148, 0.5);
  margin: 1rem 0;
  padding: 2rem;
}

.practitioner-service-info {
  width: 100%;
  h4 {
    margin: 0;
    flex: 0 0 75%;
  }
  p {
    margin: 0;
    padding: 1rem 0.5rem 0 0;
  }
}


.practitioner-application {
  margin: 5rem auto 2rem;
  h1, p {
    text-align: center;
  }
}

.practitioner-application .practitioner_education, .practitioner-application .practitioner_experience {
  flex: 0 1 45%;
}

.language-choices, .specialty-choices, .health-goal-choices {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.language-choice, .specialty-choice, .health-goal-choice, .workingday-choice {
  color: $gold;
  background: white;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
  border: 1px solid $gold;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: 1rem;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $gold;
  color: $emerald;
  font-weight: 700;
  opacity: 1;
  }
}

.workingday-choice {
  width: 4rem;
}

.practitioner-profile-table {
  p, .form-group {
    margin-bottom: 0;
  }
}

.practitioner-profile-infos {
  flex: 0 0 80%;
  padding: 0.5rem 1rem;
}

.practitioner-profile-info {
  margin-bottom: 2rem;
}

.practitioner-profile-info-title, .practitioner-profile-info-btn {
  flex: 0 0 20%;
}

.practitioner-profile-info-body {
  flex: 0 0 80%;
  align-items: center;
  button {
    margin-left: 1.5rem;
    background: transparent;
    border: none;
    color: $emerald;
    opacity: .7;
    display: flex;
    &:hover {
      color: $emerald;
      opacity: 1;
    }
  }
}

#video_form, #website_form, #address_form {
  width: 100%;
  .form-group {
    width: 100%;
  }
}

#practitioner-specialties, #practitioner-languages {
  flex-wrap: wrap;
}

.practitioner-specialty, .practitioner-language {
  background: $gold;
  color: $emerald;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  border: 1px solid #E4BD78;
  text-align: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.cropper-container.cropper-bg {
  width: 100% !important;
}

.my-services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .practitioner-service {
    width: 48%;
  }
}
