.practitioner-review {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  h4 {
    flex: 0 0 100%;
  }
  .review-box {
    flex: 0 0 48%;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    p {
      margin-bottom: 0.25rem;
    }
  }
}
