.services-page {
  padding: 8rem 0 2rem;
}

.service-page {
  padding: 7rem 0 2rem;
}

.filter-bar {
  margin-top: 69px;
  background: white;
  width: 100%;
  display: flex;
  border-top: 1px solid #dbdbdb;
  position: fixed;
  z-index: 10;
  padding: 0.5rem 2rem;
  align-items: center;
  i {
    color: #dbdbdb;
    font-size: 0.875rem;
  }
}

#filter-form {
  flex: 0 0 70%;
  .form-group {
    margin-bottom: 0;
  }
  .btn {
    padding: 0 0.5rem;
    font-size: 0.875rem !important;
  }
  #specialty-pop, #health-goal-pop, #language-pop, #service-type-pop {
    margin-bottom: 0;
    padding: 0.25rem 1rem !important;
    border-radius: 2rem !important;
    &.active-filter {
      background: #c6ffc4;
    }
  }
  .form-group {
    position: relative;
  }
  .language-choices, .specialty-choices, .health-goal-choices {
    max-height: 50vh;
    overflow-y: scroll;
    margin: 0;
  }
}

.specialty-select-box, .health-goal-select-box, .language-select-box, .service-type-select-box, #text-select-box {
  display: none;
  position: absolute;
  top: 2.5rem;
  left: 0;
  background: white;
  width: 40vw;
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  // z-index: 1;
  &.opened {
    display: block;
  }
}

.search-box-wrapper {
  flex: 0 0 30%;
  position: relative;
}

#search-box {
  font-size: 0.875rem !important;
  padding: 0.125rem 0.5rem;
  border: none;
  width: 90%;
  &:focus {
    border: none;
    box-shadow: none;
    outline: 0;
  }
}

#text-select-box {
  width: 30vw;
  left: 0;
  #text-choices {
    display: flex;
    justify-content: space-between;
  }
}

#practitioner-choices, #specialty-choices {
  flex: 0 0 45%;
  h4 {
    font-size: 1rem;
    opacity: .4;
    border-bottom: 1px solid #dbdbdb;
  }
  p {
    margin-bottom: 0.5rem;
  }
  a {
    font-size: 0.875rem;
  }
  .avatar-bordered {
    width: 1.5rem;
    margin-right: 0.25rem;
  }
}

#practitioner-choices-list, #specialty-choices-list {
  overflow-y: scroll;
  max-height: 60vh;
}

.service-type-select-box {
  width: 12vw;
}

.sort-btns {
  display: flex;
}

.specialty-list {
  margin: 1rem auto;
}

.service-lists {
  display: block;
}

.service-list-item {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 2rem;
  display: flex;
  .service-left-column {
    flex: 0 0 60%;
    border-right: 1px solid #dbdbdb;
    padding: 0 1rem;
  }
  .service-right-column {
    flex: 0 0 40%;
    padding: 0 1rem;
    .tabs-underlined {
      justify-content: center;
    }
    .tabs-underlined .tab-underlined.active-tab {
      font-weight: 400;
    }
    .tabs-underlined .tab-underlined {
      margin: 0 1rem 1rem;
      padding: 0 0.5rem;
    }
  }
}

.service-list-item-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  h3 {
    flex: 0 0 95%;
    font-size: 1.375rem;
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .fav-btn {
    flex: 0 0 5%;
    .btn {
      font-size: 1.375rem;
      border: none;
      padding: 0;
    }
  }
}

.service-list-item-goals, .practitioner-specialties {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.75rem;
  .service-goal {
    font-size: 0.75rem;
    padding: 0 0.5rem;
    border-radius: 2rem;
    border: 1px solid $pink;
    color: $pink;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
  }
  .service-goal.match {
    background: $pink;
    color: white;
  }
}

.service-specialty {
  font-size: 0.75rem;
  padding: 0 0.5rem;
  border-radius: 2rem;
  border: 1px solid $pink;
  color: $pink;
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
  a {
    color: $pink;
  }
  a:hover {
    color: $pink;
  }
}

#service-map {
  height: 500px;
}

.service-list-item-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .service-list-item-detail-left {
    flex: 0 0 20%;
    .btn {
      margin-top: 2.5rem;
    }
  }
  .service-list-item-detail-middle {
    flex: 0 0 20%;
  }
  .service-list-item-detail-right {
    flex: 0 0 40%;
  }
  label {
    font-weight: 700;
  }
}

.service-list-item-practitioner {
  display: flex;
  justify-content: space-between;
  .profile-photo {
    flex: 0 0 30%;
    text-align: center;
    font-size: 0.875rem;
    p {
      margin-bottom: 0.5rem;
    }
  }
  .general-info {
    flex: 0 0 60%;
    p {
      margin-bottom: 0;
    }
  }
  .service-list-item-user {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

.service-list-item-infos {
  p {
    margin-bottom: 0;
  }
  p.short {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
}

.service-details {
  box-shadow: 0 7px 25px 0 rgba(0,0,0,.1);
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.service-info {
  display: flex;
  justify-content: space-between;
}

.service-description {
  flex: 0 0 70%;
}

.service-practitioner {
  flex: 0 0 25%;
  text-align: center;
  .service-practitioner-name {
    font-weight: 700;
    font-size: 1.25rem;
  }
}

.service-session-form {
  flex: 0 0 55%;
}

.service-session-summary {
  flex: 0 0 40%;
}

.booking-calendar {
  border-radius: 0;
  border-collapse: collapse;
  box-shadow: none;
  table-layout: fixed;
  margin-bottom: 1.5rem;
}

.booking-calendar th {
  background: none;
  color: black;
  border: 1px solid $gold;
  opacity: 1;
  text-align: center;
  border-radius: 0;
  border-collapse: collapse;
  font-weight: 500;
}

.booking-calendar td {
  background: white;
  border: 1px solid $gold;
  text-align: center;
  font-size: 0.875rem;
  border-radius: 0;
  border-collapse: collapse;
  height: 1.5rem;
}

.booking-calendar td.time {
  background: none;
}

.blocked-cell {
  height: 100%;
  width: 100%;
  background: #ccc;
}

.booked-cell {
  height: 100%;
  width: 100%;
  background: $pink;
}

.chosen-cell {
  height: 100%;
  width: 100%;
  background: red;
}

.added-time .available-cell {
  height: 100%;
  width: 100%;
  background: $emerald;
  position: relative;
}

.added-time .available-cell:hover .available-hours {
  display: block;
}

.added-time .available-hours {
  display: none;
  position: absolute;
  top: 1rem;
  left: -80px;
  right: 0;
  background: #e8e8e8;
  z-index: 100;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  p {
    color: #4f4f4f;
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0.125rem 0.25rem;
  }
}

.modal-body-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem 0;
}

.circles {
  display: flex;
  margin: 0 1rem;
  p {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

i.available {
  color: $emerald;
}

i.booked {
  color: $pink;
}

i.blocked {
  color: #ccc;
}

i.chosen {
  color: red;
}

#primary, #secondary, #tertiary {
  display: flex;
  align-items:
  center; margin-bottom: 0;
  margin-left: 1.5rem;
}

input[type='radio']:checked:after {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $emerald;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.service-btn .btn {
  font-size: 1.75rem;
  border: none;
  padding: 0;
  line-height: 34px;
}

.service-review, .service-location, .related-services, .other-services {
  margin: 2rem 0;
}
