.session-page {
  padding: 6rem 0 2rem;
  min-height: calc(100vh - 211px);
  h2 {
    margin-bottom: 0;
  }
}

.session-btns {
  display: flex;
  margin: 1rem 0;
  .btn-flat {
    margin-right: 1rem;
  }
}

.time-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.time-choice {
  color: $emerald;
  background: white;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
  border: 1px solid $emerald;
  flex: 0 0 25%;
  text-align: center;
  margin-bottom: 1rem;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $emerald;
  color: $gold;
  font-weight: 700;
  opacity: 1;
  }
}

.session-detail {
  display: flex;
  background: white;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.session-summary {
  flex: 0 0 45%;
  padding: 2rem;
  .form-group {
    margin-bottom: 0;
  }
  button {
    margin-left: 0.5rem;
    background: transparent;
    border: none;
    color: $emerald;
  }
}

.session-location {
  flex: 0 0 55%;
  img {
    width: 70%;
  }
}

#session-map {
  height: 100%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.session-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .btn-flat {
    margin-left: 1.5rem;
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .session-page {
    .btn-flat, .btn-ghost {
      padding: 0.25rem 1rem;
      font-size: 0.875rem;
    }
  }
  .session-title {
    display: block;
    .btn-flat {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
  .session-detail {
    display: block;
    box-shadow: none;
  }
  .session-summary {
    padding: 1rem 0;
  }
  .session-location > img {
    display: none;
  }
  #session-map {
    border-radius: 0;
    height: 50vh;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .time-choices {
    display: block;
  }
}

// Mobile landscape
@media only screen and (max-width:991.98px) and (orientation: landscape) {

}

// iPad Portrait
@media only screen and (min-width:768px) and (max-width:991.98px) and (orientation: portrait) {

}

// iPad Landscape
@media only screen and (min-width:992px) and (max-width:1024px) and (orientation: landscape) {

}

// iPadPro Portrait
@media only screen and (min-width:992px) and (max-width:1024px) and (orientation: portrait) {

}

// iPadPro Landscape
@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation: landscape) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {

}
