.session-page {
  padding: 6rem 0 2rem;
  h2 {
    margin-bottom: 0;
  }
}

.session-btns {
  display: flex;
  margin: 1rem 0;
}

.time-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.time-choice {
  color: $emerald;
  background: white;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
  border: 1px solid $emerald;
  flex: 0 0 25%;
  text-align: center;
  margin-bottom: 1rem;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $emerald;
  color: $gold;
  font-weight: 700;
  opacity: 1;
  }
}

.session-detail {
  display: flex;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.session-summary {
  width: 40%;
  padding: 2rem;
}

.session-location {
  width: 60%;
}

#map {
  height: 100%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
