<p>Dear <%= @resource.first_name %>,</p>

<p>We're contacting you to notify you that your password has been changed.</p>
<p>If it wasn't you please reset your password.</p>

<p>Yours,</p>
<p>The Holistic Panda Team</p>

<div style='margin: 16px auto; text-align: center;'>
  <p>© <%= Time.now.year %> HolisticPanda, Inc. All rights reserved</p>
  <a href="https://www.theholisticpanda.com/terms" target="_blank" style='margin-right: 16px;'>Terms of use</a>
  <a href="https://www.theholisticpanda.com/privacy" target="_blank">Privacy policy</a>
</div>
