<h4>Dear <%= @resource.first_name %>,</h4>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>Yours,</p>
<p>The Holistic Panda Team</p>

<div style='margin: 16px auto; text-align: center;'>
  <p>© <%= Time.now.year %> HolisticPanda, Inc. All rights reserved</p>
  <a href="https://www.theholisticpanda.com/terms" target="_blank" style='margin-right: 16px;'>Terms of use</a>
  <a href="https://www.theholisticpanda.com/privacy" target="_blank">Privacy policy</a>
</div>
